---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/pollockcl/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 76958badfb9b1dfb0da58c0150609b1a7d482c35
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1525901103'
      Etag:
      - W/"c1537e4af89cd1e401b868e2680220d9"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b5edfeb58a41f934fa96
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/34550301/repos?page=2>; rel="next", <https://api.github.com/user/34550301/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":127758550,"name":"2win_playlist","full_name":"pollockcl/2win_playlist","owner":{"login":"pollockcl","id":34550301,"avatar_url":"https://avatars0.githubusercontent.com/u/34550301?v=4","gravatar_id":"","url":"https://api.github.com/users/pollockcl","html_url":"https://github.com/pollockcl","followers_url":"https://api.github.com/users/pollockcl/followers","following_url":"https://api.github.com/users/pollockcl/following{/other_user}","gists_url":"https://api.github.com/users/pollockcl/gists{/gist_id}","starred_url":"https://api.github.com/users/pollockcl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pollockcl/subscriptions","organizations_url":"https://api.github.com/users/pollockcl/orgs","repos_url":"https://api.github.com/users/pollockcl/repos","events_url":"https://api.github.com/users/pollockcl/events{/privacy}","received_events_url":"https://api.github.com/users/pollockcl/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pollockcl/2win_playlist","description":null,"fork":true,"url":"https://api.github.com/repos/pollockcl/2win_playlist","forks_url":"https://api.github.com/repos/pollockcl/2win_playlist/forks","keys_url":"https://api.github.com/repos/pollockcl/2win_playlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pollockcl/2win_playlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pollockcl/2win_playlist/teams","hooks_url":"https://api.github.com/repos/pollockcl/2win_playlist/hooks","issue_events_url":"https://api.github.com/repos/pollockcl/2win_playlist/issues/events{/number}","events_url":"https://api.github.com/repos/pollockcl/2win_playlist/events","assignees_url":"https://api.github.com/repos/pollockcl/2win_playlist/assignees{/user}","branches_url":"https://api.github.com/repos/pollockcl/2win_playlist/branches{/branch}","tags_url":"https://api.github.com/repos/pollockcl/2win_playlist/tags","blobs_url":"https://api.github.com/repos/pollockcl/2win_playlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pollockcl/2win_playlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pollockcl/2win_playlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/pollockcl/2win_playlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pollockcl/2win_playlist/statuses/{sha}","languages_url":"https://api.github.com/repos/pollockcl/2win_playlist/languages","stargazers_url":"https://api.github.com/repos/pollockcl/2win_playlist/stargazers","contributors_url":"https://api.github.com/repos/pollockcl/2win_playlist/contributors","subscribers_url":"https://api.github.com/repos/pollockcl/2win_playlist/subscribers","subscription_url":"https://api.github.com/repos/pollockcl/2win_playlist/subscription","commits_url":"https://api.github.com/repos/pollockcl/2win_playlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/pollockcl/2win_playlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/pollockcl/2win_playlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/pollockcl/2win_playlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/pollockcl/2win_playlist/contents/{+path}","compare_url":"https://api.github.com/repos/pollockcl/2win_playlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pollockcl/2win_playlist/merges","archive_url":"https://api.github.com/repos/pollockcl/2win_playlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pollockcl/2win_playlist/downloads","issues_url":"https://api.github.com/repos/pollockcl/2win_playlist/issues{/number}","pulls_url":"https://api.github.com/repos/pollockcl/2win_playlist/pulls{/number}","milestones_url":"https://api.github.com/repos/pollockcl/2win_playlist/milestones{/number}","notifications_url":"https://api.github.com/repos/pollockcl/2win_playlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pollockcl/2win_playlist/labels{/name}","releases_url":"https://api.github.com/repos/pollockcl/2win_playlist/releases{/id}","deployments_url":"https://api.github.com/repos/pollockcl/2win_playlist/deployments","created_at":"2018-04-02T13:16:25Z","updated_at":"2018-04-02T13:20:53Z","pushed_at":"2018-04-02T13:20:51Z","git_url":"git://github.com/pollockcl/2win_playlist.git","ssh_url":"git@github.com:pollockcl/2win_playlist.git","clone_url":"https://github.com/pollockcl/2win_playlist.git","svn_url":"https://github.com/pollockcl/2win_playlist","homepage":null,"size":5,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":119115889,"name":"a_perilous_journey","full_name":"pollockcl/a_perilous_journey","owner":{"login":"pollockcl","id":34550301,"avatar_url":"https://avatars0.githubusercontent.com/u/34550301?v=4","gravatar_id":"","url":"https://api.github.com/users/pollockcl","html_url":"https://github.com/pollockcl","followers_url":"https://api.github.com/users/pollockcl/followers","following_url":"https://api.github.com/users/pollockcl/following{/other_user}","gists_url":"https://api.github.com/users[...]
[...]
